:root {
    --orange: #ff8034;
    --blue:  #459ac7;
    --fullwidth: 100%;
    --selected: #69c7fa;
}
body {
    font-family: "Calibri", sans-serif;
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    width: 69%;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin:auto;
    font-size: 8vh;
    min-font-size: 10px;
    color: white;
    padding: 0 0   10px 0;
    background-color: var(--blue);
    border-radius: 28px 28px 0 0 ;
}

#navigation {
    font-size: 4vh;
    display: flex;
    flex-direction: row;
    width: 69%;
    justify-content: space-around;
    align-content: center;
    margin:  0 auto 10vh auto;
    padding: 0 0 10px 0;
    border-color: var(--blue);
    border-bottom-style: solid;
    background-color:  var(--blue);
    border-radius: 0 0 28px 28px ;
}
#navigation> label:hover {
   color: var(--selected);
    cursor: pointer;
}

#currentContentContainer {
    display: flex;
    flex-direction: column;
    width: 69%;
    height: fit-content;
    margin: auto;
}

#currentContentObject {
    min-width: fit-content;
    height:65vh;
    max-width: 100%;

}