:root {
    --orange: #ff8034;
    --blue:  #459ac7;
    --fullwidth: 100%;
    --selected: #69c7fa;
}

body {
    font-family: "Calibri", sans-serif;
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    color: White;
}

.contentpanel {
    border-radius: 25px;
    border: 50px solid var(--blue);
    border-top: 20px;
    font-family: calibri, sans-serif;
    font-size: 18px;
    background-color:var(--blue);
    width: clamp(500px, auto, 1000px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.popup {
    border-radius: 25px;
    padding: 30px;
    size: auto;
    font-family: calibri, sans-serif;
    font-size: 18px;
    background-color:rgba(249, 179, 110);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.contentpanelRight{
    text-align: right;
}

input, select {
    width: 80%;
    padding-right: 40px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

input:focus {
    outline: none;
    border: double rgba(249, 179, 110);
}

.smallDisplay {
    border-radius: 3px;
    padding: 1px 15px;
    margin: auto;
    border: solid 1px black;
    color: rgba(249, 179, 110);
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(89, 164, 209);
}

.asset {
    float: left;
    border-radius: 3px;
    border: solid 1px black;
    width: 90%;
    padding: 1px 20px;
    background-color: white;
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

button {
    background-color:rgba(249, 179, 110);
    border-radius:28px;
    min-width: 120px;
    border:1px solid #6b92e0;
    display: block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:7px 15px;
    text-decoration:none;
    margin: 0 auto;
}

.smallButton {
    float: right;
    min-width: 30px;
    font-size:12px;
    padding:3px 6px;
}

button:hover {
    background-color:rgba(255, 199, 130);
}
