:root {
    --orange: rgba(249, 179, 110);
    --orangeHover: rgba(249, 179, 130);
    --blue: #459ac7;
    --fullwidth: 100%;
    --selected: #69c7fa;
}

#orderViewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Calibri, sans-serif;
    font-size: 100%;
    color: white;
}
#filterOrders{
    position: relative;
    margin: 1%;
    background-color: var(--orange);
    border-block-style: none;
    border-radius: 10px;
    width: 100px;
    height: 20px;
}

.orderColumn {
    max-width: 100%;
    min-width: 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.columnTitle {
    font-size: 130%;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 0 5% 5% 0;
    background-color: var(--blue);
    border-radius: 3vh;
}

.orderContainer {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 0 5% 5% 0;
    background-color: var(--blue);
    border-radius: 10px;
    font-size: 100%;
}

 .CURRENTCLIENT {
     border-style: solid;
    border-color: var(--orange);
    border-width: 2px;
}

.orderContainer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;

}

.key {
    color: black;

}
