@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@700&display=swap'); /* .naam = class #naam = id alleen naam is html element i.e. body   , laatste telt en override alles*/



body {
    /*background-image: url("bigbangktakeoff.jpg");*/
    /*background-position-y: -250px;*/
    background-image: url("planethorizon.jpg");

}

pre {
    font-family: calibri, sans-serif;
    font-size: 19px;
}

input {
    width: 80%;
    padding-right: 40px;
    font-family: Calibri, sans-serif;
    font-size: 18px;
}

input:focus {
    outline: none;
    border: double rgba(249, 179, 110);
}



.contentpanel {
    border-radius: 25px;
    font-family: calibri, sans-serif;
    font-size: 18px;
    text-align: left;
    background-color:#459ac7;
    z-index: 10;
    min-width: 380px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding-bottom: 0;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footerDiv {
    font-family: Calibri, sans-serif;
    font-size: x-small;
    color: white;
    height: 100px;
    margin: auto;
    width: 400px;
    text-align:center;
}

h1 {
    color: White;
    font-family: Candara;
    margin: 20px;
    horiz-align: center;
}

button {
    background-color:rgba(249, 179, 110);
    border-radius:28px;
    min-width: 120px;
    border:1px solid #6b92e0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 15px;
    text-decoration:none;
}

button:hover {
    background-color:rgba(255, 199, 130);
}

.centerButton {
    display: block;
    margin: 0 auto;
}

.centerTitle {
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 75px;
}

.errorText {
    font-size: 15px;
    padding-left: 20px;
}

a {
    color: lightblue;
    text-decoration: none;

}

a[href^="mailto"] {
    color: lightblue; }


/*functie van html <form> zet style sommige inputs op invalid pseudo klasse bij verkeerde invoer*/
form :invalid {
    color: red;
    outline: red 2px;
}
/*komt van postalcode check*/
.error {
    color: red;
}
/*ook postal code check*/
.hidden {
    display: none;
}

/*below here css for bigbangk text*/

.hugetext{
    font-family: 'Trispace', sans-serif
}

.container{
    margin: auto;
    position: relative;
    padding-top: clamp(15px, 10%, 200px);
    alignment: center;
    width: 80%;
    height: 25%;
}

.container p{
    padding:20px 0;
    margin:0;
    font-size:6em;
    text-align:center;
    line-height:0.95em;
    font-weight:bold;
    color: White;
}

.stars{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
}

.stars span{
    position:relative;
}

.stars span:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    /*星のサイズ調節*/
    transform:scale(0.20);
}

.stars span.s:before{

    /*20px 20pxが中央*/
    box-shadow: 20px 20px #FFFFFF;
}

.stars span.m:before{
    box-shadow:
        /*1段目*/
            20px 10px #FFF176,
                /*2段目*/
            10px 20px #FFF176,
            20px 20px #FFFFFF,
            30px 20px #FFF176,
                /*3段目*/
            20px 30px #FFF176
}

.stars span.l:before{
    box-shadow:
        /*0段目*/
            20px  0 #FDD835,
                /*1段目*/
            20px 10px #FFF176,
                /*2段目*/
            0 20px #FDD835,
            10px 20px #FFF176,
            20px 20px #FFFFFF,
            30px 20px #FFF176,
            40px 20px #FDD835,
                /*3段目*/
            20px 30px #FFF176,
                /*4段目*/
            20px 40px #FDD835;
}


/*
星の位置とアニメーション指定
最初の秒はアニメーション時間、2つ目は開始までの時間
*/
.stars span:nth-child(1){left:10%; top:10%; animation: star-anim 8s 0s infinite;}
.stars span:nth-child(2){left:80%; top:20%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(3){left:60%; top:40%; animation: star-anim 5s 2s infinite;}
.stars span:nth-child(4){left:20%; top:70%; animation: star-anim 7s 3s infinite;}
.stars span:nth-child(5){left:80%; top:80%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(6){left:40%; top:10%; animation: star-anim 4s 0s infinite;}
.stars span:nth-child(7){left:10%; top:50%; animation: star-anim 7s 1s infinite;}
.stars span:nth-child(8){left:50%; top:50%; animation: star-anim 8s 2s infinite;}
.stars span:nth-child(9){left:90%; top:90%; animation: star-anim 5s 3s infinite;}
.stars span:nth-child(10){left:80%; top:50%; animation: star-anim 7s 4s infinite;}

.stars span:nth-child(11){left:90%; top:10%; animation: star-anim 5s 0s infinite;}
.stars span:nth-child(12){left:10%; top:80%; animation: star-anim 6s 1s infinite;}
.stars span:nth-child(13){left:30%; top:20%; animation: star-anim 7s 2s infinite;}
.stars span:nth-child(14){left:60%; top:90%; animation: star-anim 8s 3s infinite;}
.stars span:nth-child(15){left:80%; top:50%; animation: star-anim 7s 4s infinite;}


@keyframes star-anim {
    0% {opacity:0;}
    5% {opacity:1;}
    10% {opacity:0;}
    55% {opacity:0;}
    60% {opacity:1;}
    95% {opacity:0;}
    100% {opacity:1;}
}